<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /jeffgran
 RewriteRule ^38/blog/wordpress-custom-links-display$ 2009/04/24/wordpress-custom-links-display/ [R=301]
 RewriteRule ^62/blog/book-review-css-the-missing-manual$ 2009/04/26/book-review-css-the-missing-manual/ [R=301]
 RewriteRule ^87/blog/spec-work$ 2009/04/30/spec-work/ [R=301]
 RewriteRule ^119/blog/specialize-they-say$ 2009/05/06/specialize-they-say/ [R=301]
 RewriteRule ^150/blog/ups-saves-the-day$ 2009/05/22/ups-saves-the-day/ [R=301]
 RewriteRule ^156/blog/javascript-jquery-vs-the-dom$ 2009/06/03/javascript-jquery-vs-the-dom/ [R=301]
 RewriteRule ^161/blog/book-review-javascript-the-missing-manual$ 2009/06/12/book-review-javascript-the-missing-manual/ [R=301]
 RewriteRule ^163/blog/site-upgrades-wordpress-28$ 2009/06/12/site-upgrades-wordpress-28/ [R=301]
 RewriteRule ^180/blog/wordpress-tabbed-sidebar-widgets-with-jquery$ 2009/07/01/wordpress-tabbed-sidebar-widgets-with-jquery/ [R=301]
 RewriteRule ^218/blog/wordpress-sort-posts-by-multiple-fields$ 2009/07/21/wordpress-sort-posts-by-multiple-fields/ [R=301]
 RewriteRule ^230/blog/book-review-php-solutions$ 2009/08/31/book-review-php-solutions/ [R=301]
 RewriteRule ^239/blog/web-experiments-1-ajax-convo$ 2009/09/04/web-experiments-1-ajax-convo/ [R=301]
 RewriteRule ^247/blog/university-of-denver$ 2009/09/15/university-of-denver/ [R=301]
 RewriteRule ^262/blog/wordpress-sort-posts-by-multiple-fields-part-ii$ 2011/07/17/wordpress-sort-posts-by-multiple-fields-part-ii/ [R=301]
 RewriteRule ^276/blog/ubuntu-cloud-init-rackspace-fog-ruby$ 2011/08/19/ubuntu-cloud-init-rackspace-fog-ruby/ [R=301]
 RewriteRule ^309/blog/quick-tip-bash-script-for-running-rspec-tests-under-rails$ 2011/10/11/quick-tip-bash-script-for-running-rspec-tests-under-rails/ [R=301]
</IfModule>

Options -Indexes
ErrorDocument 500 /500.html
ErrorDocument 404 /404.html