html,
body {
  background-color: #333846;
  color: #c0c6cf;
  font-family: Oxygen, sans-serif;
  font-size: 1.1em;
  line-height: 1.3em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: normal;
  color: #c0c6cf;
  margin: 40px 0 20px;
  text-shadow: 0.1em 0.1em 0.2em black;
}
h5,
h6 {
  margin: 0.2em 0;
}
a {
  color: #a6c5ff;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.1em black;
}
a:hover,
a:visited {
  color: #a6c5ff;
  text-decoration: underline;
}
ul {
  list-style: disc outside none;
  margin-left: 1em;
  padding-left: 1em;
}
li {
  line-height: 1.3em;
}
li p {
  line-height: 1.3em;
}
code {
  font-family: Inconsolata, monospace;
  background-color: #002b36;
  color: #839496;
}
pre {
  margin-bottom: 1em;
}
.jeff-gran {
  font-family: "Lilita One", Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
}
#jeffgran {
  height: 138px;
  border-bottom: 1px solid #131826;
}
#jeff {
  font-family: "Lilita One", Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  font-size: 92px;
  top: 32px;
  left: 5px;
  text-shadow: 1px 1px 15px #333846;
  z-index: 100;
  color: #434856;
}
#gran {
  font-family: "Lilita One", Arial, sans-serif;
  position: relative;
  text-transform: uppercase;
  font-size: 80px;
  top: 81px;
  left: -158px;
  z-index: 99;
  color: #232836;
}
#metadata {
  margin-top: 110px;
  color: #737886;
}
#metadata p,
#metadata li {
  margin-bottom: 0;
}
#metadata .meta-heading {
  color: #737886;
  float: left;
}
#metadata .meta-value {
  float: right;
}
#metadata ul.tag-list {
  float: right;
  list-style: none;
  line-height: 1.1em;
}
#content {
  width: 960px;
  margin: 0 auto;
}
#footer {
  border-top: 1px solid #131826;
  margin: 2em 0;
}
#footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
#footer ul li {
  float: right;
}
#footer ul li a {
  display: block;
  padding: 1em;
  text-transform: lowercase;
  text-decoration: none;
  color: #131826;
  text-shadow: none;
}
#footer ul li a:hover {
  background-color: #434856;
}
